.book-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.book-head2{
    font-weight:500;
    font-size:24px;
}
p{
    font-size: 18px;
}
.book-button{
    border: none;
    height:32px;
    width:90px;
    border-radius: 5px;
    background-color:#5d50eb ;
    color:#fff;
    cursor: pointer;
    text-align: center;
    margin-left:10px;
}
.book-button:hover{
    background-color: #469c3d;
}
.book-mini-row{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom:10px;
}
.book-list-image{
    width:500px;
    height:300px;
}
@media screen and (max-width:767px) {
    .book-head2{
        font-size:18px;
    }
    .book-list-image{
        width:400px;
        height:260px;
    }
    p{
        font-size: 16px;
    }
}
@media screen and (max-width:575px) {
    .book-list-image{
        width:300px;
        height:200px;
    }
}
@media screen and (max-width:375px) {
    .book-list-image{
        width:250px;
        height:200px;
    }
}