.book-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.book-head2{
    font-weight:500;
    font-size:24px;
}
.book-button{
    border: none;
    height:32px;
    width:90px;
    border-radius: 5px;
    background-color:#5d50eb ;
    color:#fff;
    cursor: pointer;
    text-align: center;
    margin-left:10px;
}
.book-button:hover{
    background-color: #469c3d;
}
.book-mini-row{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
@media screen and (max-width:767px) {
    .book-head2{
        font-size:18px;
    }
}